.obsidian/
A8BFB080B3B0BBBAB0D0D020Markdown.md
.ferrite/
dev-minecraft/

# уберём из прода рельный caddy
Caddyfile

# уберу лайт сборку из гита
light-minecraft

# тут будут тяжёлые архивы, не хочу это лить на гитхаб
extras/

# TEMP
site/
.cache/
