example.com {

    encode gzip zstd

    # PACKWIZ
    handle_path /pack/* {
        root * /srv/pack
        file_server
    }

	handle_path /extras/* {
        root * /srv/extras
        file_server
    }

    # DOCS
    handle {
        root * /srv/site
        file_server
    }
}
